.star {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  color: #d1d5db;
}

.star:hover {
  transform: scale(1.2);
}

.star.active {
  color: #ffffff;
}

.star.hovered {
  color: #ffffff;
}
.starsContainer{
      display: inline-flex
;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.ratingText{
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
    color: #e6e6e6;
}
@media (max-width: 768px) {
.ratingText{
  display: none;
}
}
